<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://10.132.9.160:8000" binding="netTcpBinding" bindingConfiguration="netTcp" contract="msvipConnexionDLL.interfaces.IRemoteServicePxS" name="msvipConnexion"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="netTcp" openTimeout="03:00:00" closeTimeout="03:00:00" sendTimeout="03:00:00" receiveTimeout="03:00:00">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>